html  {
  height:100%;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
}

.invitation {
  position: absolute;
  z-index: 1;
  width:100%;
  margin-top:0 auto;
  color:#fff;
  padding:10px 0;
}

/*flash*/
.alert-info {
  position: relative;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

 .navbar {
  background-color:#000 !important;
  opacity: 0.8;
 }

.login-body {
  background: url('login_bg.jpg');
  background-size: cover;
  background-position:center;
  height:100vh;
}

.login-body .container {
  background: rgba(255,255,255,0.6);
  max-width: 500px;
  transform: translateY(30%);
}

#header {
  position: relative;
  padding-top: 190px;
  background: url('header.jpg');
  background-size: cover;
  background-position:center;
  height:100vh;
  border-radius: 0;
}

.header-container {
  background-color: rgba(0,0,0,0.6);
  color:#fff;
  max-width:550px;
  padding:40px;
  margin:auto;
}

a {
  color: #2D55A6;
}
.picks {
  display: block;
  width: 200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin: 0 auto;
}

.col-md-4 .btn {
  margin: 20px 0;
}

.col-md-4 .btn-primary {
  border: 1px solid #8C7A70;
  background: #8C7A70;
}

.col-md-4 .btn-primary:hover {
  background:#71635b;
  border: 1px solid #71635b;
}

#wheel {
  position: relative;
  display: none;
}

#wheelcanvas {
  width:100%;
}

.address, #location-found, #location-not-found, #lunch-picks {
  display: none;
}

#location {
  position: relative;
}

.spinner {
  display: none;
  position: absolute;
  top:-5px;
  right:-60px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media only screen and (max-width: 768px) {
    #spin {
      width:265px;
    }
}

@media only screen and (max-width: 383px) {
    #location {
      margin-bottom:10px;
    }
}
