<% flash.each do |key, value| %>
  <div class="text-center mb-0 alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul style="list-style-type: none;">
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
